body {
    font-family: 'Manrope', sans-serif !important;
    color: white !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #190041 !important;
}

h1 {
    text-align: start;
}

.name{
    color: #7f5af0; 
}

.devweb {
    color: #D444CF;
}

.color-gradiant {
    background: radial-gradient(circle at top, #2a0057, #190041, #0f002b);
}

.navbar-brand {
    color: #f626af !important;
    font-weight: bold;
    font-size: 20px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #D444CF !important;
}

.section {
    padding: 100px 20px;
    min-height: 100vh;
}

.profilpic img {
    max-height: 30vh;
    max-width: 100%;
    width: auto;
    border-radius: 5%;
}

.who {
    color: #f626af;
}

#about p {
    font-size: 1.125rem;
    line-height: 1.9rem;
}

#landing .cta{
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;

}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social p {
    font-size: 30px;
    text-align: center;
}

.social-media a {
    font-size: 40px;
    text-decoration: none;
    color: #5f5f5f;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media i {
    margin-right: 15px;
    padding: 5px;
    text-align: center;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.social-media i:hover {
    transform: scale(1.1);
}

/*
    Card
*/
:root {
    --spread: 80;
    --blur: 12;
    --active: 0;
    --start: 0deg;
}

.glow-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.glow-card {
    position: relative;
    flex: 1;
    height: 200px;
    background: radial-gradient(circle at top, #2a0057, #190041, #0f002b);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    padding: 20px;
    border: 2px solid #2a2e5a;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    z-index: 0;
}

.card-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    font-weight: bold;
    color: #f626af !important;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

.card-content span:first-child {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.card-content span:last-child {
    color: #fff;
    font-size: 1rem;
}

.glow-card:hover {
    transform: scale(1.05);
    border-color: transparent;
}

.glow-border {
    position: absolute;
    inset: 0;
    border-radius: 12px;
    pointer-events: none;
    opacity: var(--active);
    border: 3px solid transparent;
    z-index: 1;
    background: conic-gradient(from var(--start),
            #f626af 0deg,
            #8228ec 90deg,
            #f626af 180deg,
            #0025ba 270deg,
            #f626af 360deg);

    mask: linear-gradient(#0000, #0000),
        conic-gradient(from var(--start),
            #000 0deg,
            #fff,
            #0000 180deg,
            #000 280deg);
    mask-composite: intersect;
    mask-clip: padding-box, border-box;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.glow-card:hover .glow-border {
    opacity: 1;
}

/*
    Skills 
*/
#skills {
    background-color: #190041;
    padding: 50px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #7f5af0, transparent);
    transition: opacity 0.5s ease-in-out;
}

.skills-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    background-color: #0f002b;
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 0 25px rgba(127, 90, 240, 0.8); 
}

.skills-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 200%;
    background: radial-gradient(circle, rgba(127, 90, 240, 0.4) 0%, transparent 70%);
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

.skills-container {
    gap: 50px;
    display: flex;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
    width: max-content;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* 
    Card Skill 
*/
.skill-card {
    width: 250px;
    background: radial-gradient(circle at top, #2a0057, #190041, #0f002b);
    padding: 25px 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #7f5af0, transparent);
    transition: opacity 0.5s ease-in-out;
}

.skill-card:hover {
    transform: scale(1.1);
}

.skill-card img {
    width: 60px;
    height: 60px;
}

.skill-card p {
    color: white;
    font-size: 14px;
    margin-top: 10px;
}
/* 
    Education
*/

#education{
    background-image: url('hero.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: auto;
    overflow:hidden;
}

#education::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #7f5af0, transparent);
    transition: opacity 0.5s ease-in-out;
}

.education .skills-title {
    margin-top: 2px;
}

/* 
    Contact Form
*/

.form-control {
    background-color: #000 !important;
    color: white !important;
    border: 1px solid #444 !important;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form-control:focus {
    background-color: #000 !important;
    color: white !important;
    border-color: #D444CF !important;
    box-shadow: 0 0 5px #D444CF !important;
}

.card {
    background-color: #0f002b !important;
    border-radius: 10px;
    border: none;
}

.card label {
    color: white;
}

.cta {
    background: linear-gradient(to right, #D444CF 0%, #2a0057 50%, #D444CF 100%);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
    z-index: 101;
}

.btn-primary {
    border: none !important;
}

.btn-primary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #7f5af0, transparent);
    transition: opacity 0.5s ease-in-out;
}

.cta:hover {
    background: linear-gradient(to right, #2a0057 100%, #D444CF 0%);
    color: white;
}